{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Ordenes</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarOrdenes/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" maxlength="6" value="{{ misordenes.id_orden }}" readonly required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="numcliente" name="numcliente" class="form-control" value="{{ misordenes.id_cliente }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="datefecha_orden" name="datefecha_orden" class="form-control" value="{{ misordenes.fecha_orden|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numtotal" name="numtotal" class="form-control" step="0.01" value="{{ misordenes.total }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtestado" name="txtestado" class="form-control" maxlength="100" value="{{ misordenes.estado }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtmetodo_pago" name="txtmetodo_pago" class="form-control" maxlength="100" value="{{ misordenes.metodo_pago }}" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea id="txtcomentarios" name="txtcomentarios" class="form-control" required>{{ misordenes.comentarios }}</textarea>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
