{% extends "base.html" %}
{% load static %}
{% block cuerpo %}

<div class="row">
    <div class="col-sm-12-col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Órdenes</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarOrdenes/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" maxlength="6" placeholder="Código Orden" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="numcliente" name="numcliente" class="form-control" placeholder="ID Cliente" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="datefecha_orden" name="datefecha_orden" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numtotal" name="numtotal" class="form-control" step="0.01" placeholder="Total" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtestado" name="txtestado" class="form-control" maxlength="100" placeholder="Estado de la Orden" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtmetodo_pago" name="txtmetodo_pago" class="form-control" maxlength="100" placeholder="Método de Pago" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea id="txtcomentarios" name="txtcomentarios" class="form-control" placeholder="Comentarios" required></textarea>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12-col-md-8 col-lg-8 col-xl-6">
        <h1>Listado de Órdenes</h1>
        <img class="w-50"src="{% static 'img/ordenes.png' %}" alt="ordenes" width="700" height="400">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Cliente ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Método Pago</th>
                        <th scope="col">Comentarios</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in misordenes %}
                        <tr>
                            <td>{{ o.id_orden }}</td>
                            <td>{{ o.id_cliente }}</td>
                            <td>{{ o.fecha_orden }}</td>
                            <td>{{ o.total }}</td>
                            <td>{{ o.estado }}</td>
                            <td>{{ o.metodo_pago }}</td>
                            <td>{{ o.comentarios }}</td>
                            <td><a href="seleccionarOrdenes/{{ o.id_orden }}" class="btn btn-info">Editar</a></td>
                            <td><a href="borrarOrdenes/{{ o.id_orden }}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
