{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Detalles de Ordenes</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarDetalles/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" maxlength="6" value="{{ misdetalles.id_detalles }}" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numorden" name="numorden" class="form-control" value="{{ misdetalles.id_orden }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numproducto" name="numproducto" class="form-control" value="{{ misdetalles.id_producto }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numcantidad" name="numcantidad" class="form-control" value="{{ misdetalles.cantidad }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" id="numprecio_unitario" name="numprecio_unitario" class="form-control" value="{{ misdetalles.precio_unitario }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" id="numsubtotal" name="numsubtotal" class="form-control" value="{{ misdetalles.subtotal }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" id="numdescuento" name="numdescuento" class="form-control" value="{{ misdetalles.descuento }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
