{% extends "base.html" %}
{%load static%}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4">
        <h1>Registrar Detalles</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarDetalles/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Código Detalle" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numid_orden" name="numid_orden" class="form-control" placeholder="ID Orden" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numid_empleado" name="numid_empleado" class="form-control" placeholder="ID Empleado" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección Envío" required></textarea>
                    </div>
                    <div class="form-group py-2">
                        <label for="chkentregado">Entregado:</label>
                        <input type="checkbox" id="chkentregado" name="chkentregado">
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h1>Listado de Detalles</h1>
        <img class="w-50"src="{% static 'img/detalles.png' %}" alt="detalles-d-ordenes" width="700" height="400">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>ID Orden</th>
                        <th>ID Empleado</th>
                        <th>Dirección Envío</th>
                        <th>Entregado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in misdetalles %}
                        <tr>
                            <td>{{ d.id_detalles }}</td>
                            <td>{{ d.id_orden }}</td>
                            <td>{{ d.id_empleado }}</td>
                            <td>{{ d.direccion_envio }}</td>
                            <td>{{ d.entregado }}</td>
                            <td>
                                <a href="seleccionarDetalles/{{ d.id_detalles }}" class="btn btn-info">Editar</a>
                                <a href="borrarDetalles/{{ d.id_detalles }}" class="btn btn-danger">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
