{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Inventario</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarInventario/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" maxlength="6" value="{{ misinventarios.id_inventario }}" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numproducto" name="numproducto" class="form-control" value="{{ misinventarios.id_producto }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numcantidad" name="numcantidad" class="form-control" value="{{ misinventarios.cantidad }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="datefecha_ingreso" name="datefecha_ingreso" class="form-control" value="{{ misinventarios.fecha_ingreso|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="datefecha_vencimiento" name="datefecha_vencimiento" class="form-control" value="{{ misinventarios.fecha_vencimiento|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtproveedor" name="txtproveedor" class="form-control" value="{{ misinventarios.proveedor }}" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea id="txtnotas" name="txtnotas" class="form-control" required>{{ misinventarios.Notas }}</textarea>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
