{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Productos</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarProductos/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ misproductos.id_productos }}" readonly>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misproductos.nombre }}" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea id="txtdescripcion" name="txtdescripcion" class="form-control" required>{{ misproductos.descripcion }}</textarea>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numprecio" name="numprecio" class="form-control" step="0.01" value="{{ misproductos.precio }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numstock" name="numstock" class="form-control" value="{{ misproductos.stock }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtcategoria" name="txtcategoria" class="form-control" value="{{ misproductos.categoria }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="datefecha_a" name="datefecha_a" class="form-control" value="{{ misproductos.fecha_añadido|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtproveedor" name="txtproveedor" class="form-control" value="{{ misproductos.id_proveedor }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
